{# https://play.google.com/intl/en_us/badges/static/images/badges/fr_badge_web_generic.png -#}
{# https://tools.applemediaservices.com/api/badges/download-on-the-app-store/black/fr-FR -#}
<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
        <title>{{ title }}</title>
        <style>
            {% include "watcha_registration.css" %}
        </style>
    </head>
    <body>
        <p>Bonjour,</p>
        <p class="intro">
            <em>{{ sender_name }}</em> vous invite à rejoindre l'espace de
            travail sécurisé Watcha.
        </p>
        <h3>
            Connectez-vous depuis votre navigateur, en vous rendant sur la
            platforme&nbsp;:
        </h3>
        <p>
            <a href="{{ login_url }}">
                <img
                    class="centered"
                    src="data:image/png;base64,{{ b64_watcha_button }}"
                    alt="Se connecter à Watcha"
                    width="300"
                />
                <span class="centered">{{ login_url }}</span>
            </a>
        </p>
        <h3>
            Connectez-vous depuis votre mobile, en téléchargeant
            l'application&nbsp;:
        </h3>
        <p>
            <a
                href="https://play.google.com/store/apps/details?id=im.watcha.app"
            >
                <img
                    class="centered"
                    src="data:image/png;base64,{{ b64_google_play_badge }}"
                    alt="Télécharger l'application Android sur Google Play"
                />
                <span class="centered">
                    https://play.google.com/store/apps/details?id=im.watcha.app
                </span>
            </a>
        </p>
        <p>
            <a href="https://apps.apple.com/fr/app/watcha/id1383732254">
                <img
                    class="centered"
                    src="data:image/png;base64,{{ b64_app_store_badge }}"
                    alt="Télécharger l'application iOS sur l'App Store"
                />
                <span class="centered">
                    https://apps.apple.com/fr/app/watcha/id1383732254
                </span>
            </a>
        </p>
        <h3>Paramètres de connexion&nbsp;:</h3>
        <table>
            <tbody>
                <tr>
                    <td class="credential-title"><b>Email&nbsp;:</b></td>
                </tr>
                <tr>
                    <td class="credential">{{ email }}</td>
                </tr>
                <tr>
                    <td class="credential-title">
                        <b>Mot de passe provisoire&nbsp;:</b>
                    </td>
                </tr>
                <tr>
                    <td class="credential">{{ password }}</td>
                </tr>
                <tr>
                    <td class="credential-title">
                        <b>Espace de travail&nbsp;:</b>
                    </td>
                </tr>
                <tr>
                    <td class="credential">{{ server }}</td>
                </tr>
            </tbody>
        </table>
    </body>
</html>
