html {
    font-family: sans-serif;
}

body {
    max-width: 600px;
    padding: 1em;
}

.intro {
    margin-bottom: 2em;
}

.centered {
    display: table;
    margin: 0 auto;
}

table {
    width: 100%;
    padding: 1em 1em 0 1em;
    border: 1px solid black;
    border-radius: 0.25rem;
    border-spacing: 0;
}

.credential-title {
    padding-bottom: 0.75em;
}

.credential {
    padding-left: 3em;
    padding-bottom: 1.5em;
}
