{% extends "base.j2" %}

{% block introduction %}<p><span class="hint">{{ inviter_name }}</span> vous a invité(e) à rejoindre l'espace de travail sécurisé Watcha.
</p>{% endblock %}

{% block usage %}<p>Vous pourrez y créer et utiliser des salons de discussion avec les autres utilisateurs.
</p>
<p>Pour vous reconnecter plus tard, conservez cet email et utilisez le bouton de connection ci-dessus. Notez aussi vos identifiants de connection :</p>{% endblock %}

{% block password %}Défini lors de la première connection{% endblock %}