{% extends "base.j2" %}

{% block introduction %}<p><span class="hint">{{ inviter_name }}</span> vous a invité(e) à participer à l'espace de travail sécurisé Watcha.
</p>{% endblock %}

{% block usage %}<p>Les informations de connection à conserver sont :</p>{% endblock %}

{% block password %}Celui que vous avez défini lors de l'activation de votre compte{% endblock %}