{% extends "base_invite_account.html" %}

{% block message %}
<p><span class="hint">{{ inviter_name }}</span> vous a invité à rejoindre l'espace de travail sécurisé Watcha.
</p>
<p>Vous pourrez y créer et utiliser des salons de discussion avec les autres utilisateurs.</p>
<p>Pour vous reconnecter dans le futur, conservez cet email et utilisez le bouton de connection ci-dessus, ou notez
	vos identifiants de connection.</p>
{% endblock %}

{% block password %}
À définir lors de la première connection.
{% endblock %}