{% set login_url = setup_account_url %}{% extends "base.j2" %}

{% block introduction %}
<p>Votre mot de passe pour accéder à l’espace de travail sécurisé test a été réinitialisé.
</p>
<p>Pour choisir un nouveau mot de passe, cliquez ici :</p>{% endblock %}

{% block link_text %}{% endblock %}

{% block button %}Choisir un nouveau mot de passe{% endblock %}

{% block usage %}
<p>Vos informations de connection sont toujours :</p>{% endblock %}

{% block password %}Redéfini en cliquant sur le lien de cet email{% endblock %}
